body{
    background-color: #fff;
    font-family: arial,sans-serif;
    height: 100%;
    margin: 0px;
}
.viewport {
    position: absolute;
    top: 0;
    width: 100%;
        min-height: 100%;
        margin: 0 auto;
    min-width: 980px;
}

.search {
        margin-top: -15px;
            padding-left: 284px;
    padding-right: 284px;
    margin-left: 74px;
    margin-right: 74px;
        position: absolute;
    top: 311px;
        overflow: visible;
        
}



.content {
    padding-bottom: 35px;
     margin-top: 89px;
}

.body-a {
        /*display: block;*/
    height: 233px;
    /*margin-top: 89px;*/
   
}

.body-b {
    padding-top: 109px;
    /*text-align: -webkit-center;*/
}

.logo{
    background-size:272px 92px;
    width:272px;
    height:92px;
    background: url(../images/googlelogo_color_272x92dp.png) no-repeat;
    
}

.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: 76px;
    white-space: nowrap;
}

.search-form {
    margin-top: 0;
    position: absolute;
    top: 311px;
    min-width: 980px;
    width: 100%;
}

.search-form-a {
    max-width: 584px;
    margin-top: -1px;
}

.header-box {
    position: absolute;
    top: -295px;
    right: 0;
    width: 100%;
    font-size: 13px;
}

.header-content {
    min-width: 230px;
    height: 30px;
    float: right;
    order: 1;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
}

.header-a {
   flex: 0 1 auto;
   display: flex;
       line-height: normal;
    padding-right: 15px;
}

.header-b {
  min-width: 110px;
  flex: 0 1 auto;
  display: flex;
  line-height: normal;
    position: relative;
    text-align: left;
}

.apps {
    position: relative;
}

.apps-a {
    position: relative;
}

.apps-a1 {
    display: none;
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 6.5px;
    z-index: 1;
    height: 0;
    width: 0;
    animation-name: gb__a;
    animation-duration: 0.2s;
    border-bottom-color: rgba(0,0,0,.2);
    top: 36px;
}

.apps-a2 {
    display: none;
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    display: none;
    left: 6.5px;
    top: 37px;
    z-index: 1;
    height: 0;
    width: 0;
    animation-name: gb__a;
    animation-duration: 0.2s;
}

.apps-b {
    max-height: 343px;
    height: 496px;
    display:none;
        min-height: 196px;
    overflow-y: auto;
    width: 320px;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    outline: none;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    animation: gb__a .2s;
    border-radius: 2px;
    transition: height .2s ease-in-out;
}

.apps-list {
    background: #fff;
    margin: 0;
    min-height: 100px;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
    white-space: normal;
    width: 265px;
}

.apps-item {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: black;
    z-index: 999;
    height: 98px;
    width: 86px;
}

.item-style {
    color: #404040;
    text-decoration: none;
        display: inline-block;
    font-size: 13px;
    margin: 8px 2px;
    text-align: center;
    outline: none;
}

.div-a {
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db;
    position: relative;
    top: 27px;
    visibility: hidden;
}

.div-b {
    float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db;
    position: relative;
    top: 27px;
    visibility: hidden;
}

.div-c {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4273db;
    left: 37px;
    visibility: hidden;
}

.div-d {
    position: absolute;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4273db;
    left: 37px;
    visibility: hidden;
}

.item-style-a {
    background-image: url(../images/p1_a4541be8.png);
    background-size: 64px 2065px;
    display: inline-block;
    vertical-align: top;
    height: 64px;
    width: 64px;
    text-align: center;

}

.item-style-b {
    display: block;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis;
}

.more {
    color: #737373;
    text-decoration: none;
    margin-top: 0;
    position: static;
    display: block;
    line-height: 40px;
    text-align: center;
    width: 320px;
    background: #f5f5f5;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
}

.services-a {
    display:none;
    border-bottom: 1px solid #ebebeb;
    left: 28px;
    width: 264px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.services-b {
    border-bottom-width: 0;
    color: #737373;
    text-decoration: none;
}

.services-b:hover {
    text-decoration: underline;
}

.google-apps {
    color: #000;
    cursor: default;
    text-decoration: none;
    background-position: -132px -38px;
    background-position-x: -132px;
    background-position-y: -38px;
    opacity: .55;
    background-image: url(../images/i1_1967ca6a.png);
    background-size: 528px 68px;
    display: inline-block;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}

.header-b1 {
    min-width: 400px;
    overflow: visible;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 44px;
    animation-name: gb__a;
    animation-duration: 0.2s;
    border-radius: 2px;
}

.enter {
    display: inline-block;
    padding: 0 0 0 15px;
    position: relative;
    vertical-align: middle;
    flex: 0 0 auto;
    margin-left: 0!important;
    margin-right: 0!important;
}

.enter-button {
    color: #fff;
        cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}

.mail {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
    line-height: normal;
    
}

.text-mail {
    color: #000;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    opacity: .75;
}

.images {
        display: inline-block;
        padding-left: 15px;
    vertical-align: middle;
}

.text-images {
    color: #000;
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    opacity: .75;
}

.search-box{
    height: 100%;
    padding: 5px 9px 0;
}

.icon-box {
    padding: 0 8px;
    margin-top: -1px;
    position: static;
    float: right;
    vertical-align: top;
    line-height: 38px;
    outline-width: 52px;
    padding-left: 8px;
    padding-right: 8px;
}

.icon{
    cursor: pointer;
    padding: 0 4px;
    display: inline-block;
}

.icon-keyword{
    height: 11px;
    line-height: 0;
    width: 19px;
    vertical-align: middle;
    background: url(../images/micro_black.gif);
    opacity: 0.6;
}

.icon-keyword:hover{
    opacity: 0.8;
}

.text-mail:hover {
    text-decoration: underline;
}

.text-images:hover {
    text-decoration: underline;
}

.icon-microphone{
    background: url(../images/download.png) no-repeat -3px 0;
    background-size: 24px 24px;
    display: inline-block;
    height: 23px;
    width: 17px;
    vertical-align: middle;
   
}

.input-box {
    position: relative;
}

.input-text {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 6;
    left: 0px;
    outline: none;
    height: 26px;
    width: 498px;
    font: 16px arial,sans-serif;
}
