body{
    background-color: #fff;
    color: #000;
    font-family: arial,sans-serif;
}

.content {
    padding-bottom: 35px;
    margin: 0 auto;
    min-width: 980px;
    height: 233px;
    margin-top: 89px;
    padding-top: 109px;
}

.logo{
    background-size:272px 92px;
    width:272px;
    height:92px;
    background: url(../images/googlelogo_color_272x92dp.png);
    
}

.search-form {
    height: 38px;
    background: #fff;
    border: 1px solid #d9d9d9;
    width: 584px;
    position: relative;
    top: 311px;
}

.search-box{
    height: 100%;
    overflow: hidden;
    padding: 5px 9px 0;
}

.icon-box {
    padding: 0 8px;
    margin-top: -1px;
    position: static;
    float: right;
    vertical-align: top;
    line-height: 38px;
    outline-width: 52px;
    padding-left: 8px;
    padding-right: 8px;
}

.icon{
    cursor: pointer;
    padding: 0 4px;
    display: inline-block;
}

.icon-keyword{
    height: 11px;
    line-height: 0;
    width: 19px;
    vertical-align: middle;
    background: url(../images/micro_black.gif);
    opacity: 0.6;
}

.icon-keyword:hover{
    opacity: 0.8;
}

.icon-microphone{
    background: url(../images/download.png) no-repeat -3px 0;
    background-size: 24px 24px;
    display: inline-block;
    height: 23px;
    width: 17px;
    vertical-align: middle;
   
}

.input-box {
    position: relative;
}

.input-text {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 6;
    left: 0px;
    outline: none;
    height: 26px;
    width: 498px;
    font: 16px arial,sans-serif;
}
